

<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
<title>Confirm Account</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<style> 
div.relative {
	position: relative;
	left: 300px;
}
<!-- search bar css below-->
input[type=text2] {
    width: 130px;
    float: right;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #1e2832;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
   padding: 5px 20px 5px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input, textarea {
    color: #f2f2f2;
}
input[type=text2]:focus {
    width:30%;
    
}
</style>
<body>

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="index.html">G.O.O.D</a>
		</h1>
		<a href="#nav">Menu</a>
		<form>
  <input type="text2" name="search"  placeholder="Search..">
</form>
	</header>


	
	<!-- Nav -->
		<nav id="nav" class="visible">
				<ul class="links">
				<li><a href="/">Home</a></li>
					<li><a href="/login">Log In</a></li>
					<li><a href="/register">Register</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/aboutus">About Us</a></li>
					<li><a href="/accountrecovery">Forgot Password?</a></li>
					
				</ul>
			</nav>
	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="container">

			<!-- Image -->
			<!-- 
			<section>
				
				<div class="box alt">
					<div class="row 40% uniform">
						<div class="12u$">
							<span class="image fit"><img src="images/pic11.jpg" alt="" /></span>
						</div>
					</div>
				</div>
			</section>
 -->
 
 
			<header class="major special">
				<h2>Account Confirmation</h2>
				<p>Please enter your email and password to confirm your account.</p>
			</header>
			<!-- Form -->
			<section>
				<!-- <h3>Enter account credentials:</h3> -->
				<form method="post" action="#">
					<div class="relative">
						<div class="row uniform 30%">
							<div class="6u$ 12u$(xsmall)">
								<input type="email" name="email" id="email" value=""
									placeholder="Email" />
							</div>
							<div class="6u 12u$(xsmall)">
								<input type="password" name="passowrd" id="password" value=""
									placeholder="Password" />
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input type="submit" value="Submit" class="special" /></li>

								</ul>
							</div>
						</div>
					</div>
				</form>
			</section>



		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"> <span
						class="label">Facebook</span>
				</a></li>
				<li><a href="#" class="icon fa-twitter"> <span
						class="label">Twitter</span>
				</a></li>
				<li><a href="#" class="icon fa-instagram"> <span
						class="label">Instagram</span>
				</a></li>
				<li><a href="#" class="icon fa-linkedin"> <span
						class="label">LinkedIn</span>
				</a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled.</li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a>.
				</li>
				<li>Design: <a href="http://templated.co">TEMPLATED</a>.
				</li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>
</html>