<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
	</head>

	<style>

	#banner {
    padding: 8em 0 6em 0;
    background-color: #1E2832;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed;
    background-image: url(https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/18198293_10212704858757759_7473785438749772719_n.jpg?oh=f62342c4b8387752c3e3b4d455697285&oe=59C1104B);
    background-size: contain;
    text-align: center;
}

.wrapper {
    padding: 1em 0 1em 0;
    position: relative;
}
</style>
<body>

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="/">RateAndReview</a>
		</h1>
		<a href="#nav">Menu</a>

	</header>

		<nav id="nav" class="visible">
				<ul class="links">
					<li><a href="/">Home</a></li>

					{{#if user_admin}}
						<li><a href="/admindashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_professor}}
						<li><a href="/facultydashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_tutor}}
						<li><a href="/tutordashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_student}}
						<li><a href="/studentdashboard">My Dashboard</a></li>
					{{/if}}

					{{#if user_null}}
						<li><a href="/signin">Log In</a></li>
						<li><a href="/register">Register</a></li>
						<li><a href="/activation">Activate Account</a></li>
						<li><a href="/accountrecovery">Forgot Password?</a></li>
					{{/if}}

						<li><a href="/teacher">Browse Professors</a></li>

					{{#unless user_admin}}
						<li><a href="/contactus">Contact Us</a></li>
					{{/unless}}
						<li><a href="/aboutus">About Us</a></li>
						<li><a href="/faq">FAQ</a></li>

					{{#unless user_null}}
						<li><a href="/logout">Log Out</a></li>
					{{/unless}}
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">

			<i class="icon  fa-users"></i>

				<!-- <i class="icon fa-diamond"></i> -->
				<h2>To Support & Correct</h2>
				<p>The Dev Team That Made This Possible</p>
<!--
				<ul class="actions">
					<li><a href="#" class="button big special">Learn More Below</a></li>
				</ul>
-->
			</section>


<!-- youtube API embeded iframe -->
<section id="one" class="wrapper style1">
				<div class="inner">
				<h2> Tour our campus through the air </h2>
					<iframe width="1000" height="600" src="https://www.youtube.com/embed/8-NvMF-PzDs" frameborder="0" allowfullscreen></iframe>

				</div>
	</section>
		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/18199540_10212704864677907_9122656515227523581_n.jpg?oh=bc5f9f411e6f9182c47d4df54c728039&oe=5989DC0B" alt="" /></span>
						<div class="content">
							<h2>Joel Sandoval</h2>
							<p>The fearless leader that keeps the team in check and pushes us to strive for greatness.</p>

						</div>
					</article>
					<article class="feature left">
						<span class="image"><img src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/18194989_10212704863557879_5767939332408245332_n.jpg?oh=2a9b2c007b2a2eb98011b4d682a68330&oe=59786896" alt="" /></span>
						<div class="content">
							<h2>Mike Webb</h2>
							<p>The boy wonder that takes on challenges head on and always finds ways to find the right solution. </p>

						</div>

					</article>
					<article class="feature left">
						<span class="image"><img src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/18268229_10212704866037941_6936162695319147200_n.jpg?oh=e1af236a0f74dc1c8aa35e27e4e11848&oe=59816300" alt="" /></span>
						<div class="content">
							<h2>Dex Petrov</h2>
							<p>The comic relief that cools things down when stress levels are high and provides ideas for problem resolution.</p>

						</div>
					</article>
				</div>

			</section>



		<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="https://www.facebook.com/Rateandreview-1894488470796383/?ref=aymt_homepage_panel
				" class="icon fa-facebook"> <span
						class="label">Facebook</span>
				</a></li>
				<li><a href="https://twitter.com/RateAndReview17" class="icon fa-twitter"> <span
						class="label">Twitter</span>
				</a></li>
				<li><a href="https://www.instagram.com/rateandreview17/" class="icon fa-instagram"> <span
						class="label">Instagram</span>
				</a></li>
				<li><a href="https://www.linkedin.com/in/rateandreview-capstone-b78751139" class="icon fa-linkedin"> <span
						class="label">LinkedIn</span>
				</a></li>
			</ul>

		</div>
	</footer>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>