<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		
		
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>
	
	<style>
	
	#banner {
    padding: 2em 0 20em 0;
    background-color: #1E2832;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed;
    background-image: url(images/devteam.jpg), url(../../images/devteam.jpg);
    background-size: cover;
    text-align: center;
}

	 
 
  
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
       height: 600px;
  }
  
  body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f41717;
}

.ytplayer {
    position: relative;
    margin: auto;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header > h1 a {
    font-size: 0.60em;
}

.wrapper.style1{
    background-color: #f41717;
    color: #555;
    padding: 1em 15em 1em 0;
    
    border-bottom-color: black;
}
.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
    color: rgba(0,0,0,0.8);
}

</style>
<body>

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="/">RateAndReview</a>
		</h1>
		<a href="#nav">Menu</a>
		
	</header>

		<nav id="nav" class="visible">
				<ul class="links">
					<li><a href="/">Home</a></li>
					
					{{#if user_admin}}
						<li><a href="/admindashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_professor}}
						<li><a href="/facultydashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_tutor}}
						<li><a href="/tutordashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_student}}
						<li><a href="/studentdashboard">My Dashboard</a></li>
					{{/if}}
					
					{{#if user_null}}
						<li><a href="/login">Log In</a></li>
						<li><a href="/register">Register</a></li>
						<li><a href="/activation">Activate Account</a></li>
						<li><a href="/accountrecovery">Forgot Password?</a></li>
					{{/if}}
					
						<li><a href="/teacher">Browse Professors</a></li>
					
					{{#unless user_admin}}
						<li><a href="/contactus">Contact Us</a></li>
					{{/unless}}
						<li><a href="/aboutus">About Us</a></li>
						<li><a href="/faq">FAQ</a></li>
					
					{{#unless user_null}}
					<!--
						<li><a href="/changepassword">Change Password</a></li>
						<li><a href="/deactivation">Deactivate Account</a></li>
					-->
						<li><a href="/logout">Log Out</a></li>
					{{/unless}}
				</ul>
			</nav>
			
		<!-- Banner -->
			<section id="banner">
			
			<i class="icon  fa-users"></i>
			
				<!-- <i class="icon fa-diamond"></i> -->
				<h2>About Us</h2>
				<p></p>

			</section>
			
			
<section id="one" class="wrapper style1">
				<div class="inner">
				<h2> Tour our campus through the air </h2>
					<iframe width="1000" height="600" src="https://www.youtube.com/embed/8-NvMF-PzDs" frameborder="0" allowfullscreen></iframe>
					
				</div>
			</section>			
<!-- YOUTUBE -->
<!--
<div class="ytplayer" id="ytplayer" ><h2> Tour our campus through the air </h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8-NvMF-PzDs" frameborder="0" allowfullscreen></iframe>

</div>
-->
<!--
<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://youtu.be/8-NvMF-PzDs";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '360',
      width: '640',
      videoId: 'M7lc1UVf-VE'
    });
  }
</script>

-->
		<!-- One -->
	
	<div class="container">
		<h3>Meet our DEV Team</h3>
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="images/joel2.jpg" alt="Chania" width="460" height="345">
        <div class="carousel-caption">
          <h1>Joel Sandoval</h1>
        </div>
      </div>

      <div class="item">
        <img src="images/mike2.jpg" alt="Chania" width="460" height="345">
        <div class="carousel-caption">
          <h1>Mike Webb</h1>
        </div>
      </div>
    
      <div class="item">
        <img src="images/dex4.jpg" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h1>Dex Petrov</h1>
        </div>
      </div>

      <div class="item">
        <img src="images/gerald2.jpg" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h1>Gerald Valenzuela</h1>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
		<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="https://www.facebook.com/Rateandreview-1894488470796383/?ref=aymt_homepage_panel
				" class="icon fa-facebook"> <span
						class="label">Facebook</span>
				</a></li>
				<li><a href="https://twitter.com/RateAndReview17" class="icon fa-twitter"> <span
						class="label">Twitter</span>
				</a></li>
				<li><a href="https://www.instagram.com/rateandreview17/" class="icon fa-instagram"> <span
						class="label">Instagram</span>
				</a></li>
				<li><a href="https://www.linkedin.com/in/rateandreview-capstone-b78751139" class="icon fa-linkedin"> <span
						class="label">LinkedIn</span>
				</a></li>
			</ul>
			
		</div>
	</footer>

	
			
			
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>