
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ms. Paredes' Classroom</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/" class="logo">Ms. Paredes' Classroom</a>
			</header>

				<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/welcome">Welcome</a></li>
					<li><a href="/aboutme">About Me</a></li>
					<li><a href="/ourclassroom">Our Classroom</a></li>
					<li><a href="/rules">Classroom Rules</a></li>
					<li><a href="/behavior">Consequences & Behavior Plans</a></li>
					<li><a href="/data">Data Records</a></li>
					<li><a href="/schedule">Class Schedule/</a></li>
					<li><a href="/calendar">School Calendar</a></li>
					<li><a href="/other">Other important contact information & resources</a></li>
					
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>About Me</h1>
						<p>A Short Intro</p>
					</header>
					<p><span class="image left"><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/23844940_1864956010484867_8224407789565124732_n.jpg?oh=3a5dbe30a1a0925189038548ee9a66c7&oe=5AA45949" alt="" /></span>
				<b> Hi, </b> <br>
I am <strong> Ms. Paredes </strong> and I will be your first-grade teacher for the rest of the school year. Since we will be spending a lot of time together I thought it would be a good idea for you to get to know me a little better. I graduated from <strong> Benedictine University </strong> in 2017 with a major in Elementary Education and an endorsement in Special Education. I have now been teaching for 5 years. I have previously taught 2nd grade for 2 years and 1st grade for 3 years. 
<br/>My favorite sport is <em> soccer </em>, my favorite color is <em> purple </em>, and my favorite subject is <em> reading </em>. Some of my favorite hobbies are <i> watching movies, listening to music, and hanging out with my family </i>. I have two Chihuahuas, their names are <strong> Isco </strong> and <i> Coco </i>.  I am looking forward to get to know each and every one of you this year. See you soon!
<br/>
<br/>
My kindest regards, 
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<strong> Miss. Paredes </strong>
.</p>
<br/> </br>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(630) 236-5124</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">paredes_erika@washington.edu</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Washington Elementary Rd, Aurora, IL 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy;Design By <a href="https://templated.co">TEMPLATED</a>. Altered By Erika Paredes.
					<br/>
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
				</div>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>