
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ms. Paredes' Classroom</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/" class="logo">Ms. Paredes' Classroom</a>
			</header>

				<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/welcome">Welcome</a></li>
					<li><a href="/aboutme">About Me</a></li>
					<li><a href="/ourclassroom">Our Classroom</a></li>
					<li><a href="/rules">Classroom Rules</a></li>
					<li><a href="/behavior">Consequences & Behavior Plans</a></li>
					<li><a href="/data">Data Records</a></li>
					<li><a href="/schedule">Class Schedule</a></li>
					<li><a href="/calendar">School Calendar</a></li>
					<li><a href="/other">Other important contact information & resources</a></li>
					
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Behavior</h1>
							<p>What happens when the rules aren't followed?</p>
					</header>
					
					
					<p><span class="image left"><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/24174304_1864976643816137_7880643538100756090_n.png?oh=a5e5260d09244258bb54615307b35e9e&oe=5A99F47B" alt="" />
						
					</span>We have a fun behavior plan in our classroom that encourages students to stay on task and follow the rules.
					 We have a butterfly tree in the classroom. Every student will receive 3 butterflies on the first day of school and decorate it.
					  All butterflies will be put on the “tree” in the room. Everyday students will start off with 3 butterflies. 
					  If a student must break a rule they will be instructed to take the butterfly off the wall and put it in basket next to the tree.
					   If they receive a second warning they will have to take their second butterfly off. If students have to remove a third butterfly 
					   they will have to have a talk with me on how we can change the actions that are causing them to remove their butterflies. 
					   Also, a note will be sent home that will need to be signed by a guardian. 
					If no students remove their three butterflies for the week we can have an extra recess on Friday’s.</p>
					
					
<p><span class="image left"><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/23915733_1864976640482804_9004692867409687680_n.png?oh=28134bd9e5eb78b3d123f2a76a18a0e7&oe=5A97235B" alt="" />
	
</span>If a student is having persistent issues with following the rules a meeting with the parents/guardians will be requested. 
I believe working with parents has positive effects on students and this will be helpful. If the issues continue we will work together 
to create a behavior contract or do an intervention. Every student’s needs are different so we will work together to make sure that all
 students have a great experience in my classroom. 

</p>

				</div>
			</section>

	<		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(630) 236-5124</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">paredes_erika@washington.edu</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Washington Elementary Rd, Aurora, IL 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy;Design By <a href="https://templated.co">TEMPLATED</a>. Altered By Erika Paredes.
					<br/>
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
				</div>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>