
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ms. Paredes' Classroom</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/" class="logo">Ms. Paredes' Classroom</a>
			</header>

				<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/welcome">Welcome</a></li>
					<li><a href="/aboutme">About Me</a></li>
					<li><a href="/ourclassroom">Our Classroom</a></li>
					<li><a href="/rules">Classroom Rules</a></li>
					<li><a href="/behavior">Consequences & Behavior Plans</a></li>
					<li><a href="/data">Data Records</a></li>
					<li><a href="/schedule">Class Schedule</a></li>
					<li><a href="/calendar">School Calendar</a></li>
					<li><a href="/other">Other important contact information & resources</a></li>
					
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Calendar</h1>
								<p>These are important events set into our calendar. You will be notified of any changes.</p>
					</header>
					<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Month</th>
													<th>Date</th>
													<th>Event</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><b>August</b></td>
													<td>20</td>
													<td>Teacher Institute Day</td>
												</tr>
												<tr>
													<td><b>August</b></td>
													<td>21</td>
													<td>First day of School </td>
												</tr>
												<tr>
													<td><b>September</b></td>
													<td>3</td>
													<td>Labor Day, No School  </td>
												</tr>
												<tr>
													<td><b>October</b></td>
													<td>8</td>
													<td>Columbus Day, No School</td>
												</tr>
												<tr>
														<td><b>October</b></td>
													<td>19</td>
													<td>End of 1st Quarter </td>
												</tr>
												<tr>
														<td><b>October</b></td>
													<td>29</td>
													<td>Field Trip to Pumpkin Patch </td>
												</tr>
												<tr>
														<td><b>October</b></td>
													<td>31</td>
													<td>Halloween Parade </td>
												</tr>
												<tr>
														<td><b>November</b></td>
													<td>12</td>
													<td>Veterans Day</td>
												</tr>
												<tr>
														<td><b>November</b></td>
													<td>20</td>
													<td>Half Day</td>
												</tr>
												<tr>
														<td><b>November</b></td>
													<td>21-23</td>
													<td>Thanksgiving Break, No School </td>
												</tr>
												<tr>
														<td><b>December</b></td>
													<td>21</td>
													<td>End of 2nd Quarter (Report Cards sent home)  </td>
												</tr>
												<tr>
														<td><b>December</b></td>
													<td>24-4</td>
													<td>Winter Break  </td>
												</tr>
												<tr>
														<td><b>January</b></td>
													<td>21</td>
													<td>Martin Luther King Jr. Day, No School </td>
												</tr>
												<tr>
														<td><b>February</b></td>
													<td>14</td>
													<td>Valentine’s Day </td>
												</tr>
												<tr>
														<td><b>February</b></td>
													<td>18</td>
													<td>Presidents Day, No School</td>
												</tr>
												<tr>
														<td><b>March</b></td>
													<td>15</td>
													<td>End of 3rd Quarter </td>
												</tr>
												<tr>
														<td><b>April</b></td>
													<td>10</td>
													<td>Half Day</td>
												</tr>
												<tr>
														<td><b>April</b></td>
													<td>15</td>
													<td>Teacher Institute, No School </td>
												</tr>
												<tr>
														<td><b>May</b></td>
													<td>27</td>
													<td>Memorial Day, No School </td>
												</tr>
												<tr>
														<td><b>June</b></td>
													<td>7</td>
													<td>Last Day of School </td>
												</tr>
												<tr>
														<td><b>June</b></td>
													<td>8</td>
													<td>Report Cards sent out</td>
												</tr>
											</tbody>
											<tfoot>
											</tfoot>
										</table>
									</div>

					
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(630) 236-5124</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">paredes_erika@washington.edu</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Washington Elementary Rd, Aurora, IL 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy;Design By <a href="https://templated.co">TEMPLATED</a>. Altered By Erika Paredes.
					<br/>
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
				</div>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>