<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
<title>FAQ</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

<!-- FAQ Style below -->

<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'
	rel='stylesheet' type='text/css'>
	
<style>
li {
    display: inline;
}
</style>

</head>

<style>
#banner {
	padding: 5em 0 1em 0;
	background-color: #1E2832;
	color: rgba(255, 255, 255, 0.75);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	color: #07090c;
}

input[type=text2] {
	width: 130px;
	float: right;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: #1e2832;
	background-image: url('searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 5px 20px 5px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input, textarea {
	color: #f2f2f2;
}

input[type=text2]:focus {
	width: 30%;
}

.wrapper.style2 input[type="text"], .wrapper.style2 input[type="password"],
	.wrapper.style2 input[type="email"], .wrapper.style2 select, .wrapper.style2 textarea
	{
	background-color: #f2f2f2;
	border-color: transparent;
	color: black;
}
header {
    position: relative;
    height: 180px;
    line-height: 180px;
    text-align: center;
    background-color: #1e2832;
}
</style>
<body>

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="index.html">G.O.O.D</a>
		</h1>
		<a href="#nav">Menu</a>
	</header>

	<!-- Nav -->
	<nav id="nav">
		<ul class="links">
			<li><a href="/">Home</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/aboutus">About Us</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/deactivation">De-Activate</a></li>
					<li><a href="/login">Log Out</a></li>
		</ul>
	</nav>

	<!-- Banner -->
	<section id="banner">

		<h2>
			<i class="fa fa-graduation-cap" aria-hidden="true"></i>
		</h2>

		<!-- <i class="icon fa-diamond"></i> -->
		<h2>F.A.Q</h2>
		<p>Here to answer the questions you might have</p>
		<ul class="actions">
			<li><a href="#" class="button big special">Learn More Below</a></li>
		</ul>
	</section>

		<ul>
			<li><a class="selected" href="#basics">Basics</a></li>
			<li><a href="#account">Account</a></li>
			<li><a href="#privacy">Privacy</a></li>

		</ul>
		<!-- cd-faq-categories -->
<section class="cd-faq">
		<div class="cd-faq-items">
			<ul id="basics" class="cd-faq-group">
				<li class="cd-faq-title"><h2>Basics</h2></li>
				<li>How do I change my
						password?
					<div class="cd-faq-content">
						<p>On the Login/Sign Up page there is a link that states "
							forgot my password ". If you follow the link you will recieve an
							email that will allow you to reset your password.</p>
					</div> <!-- cd-faq-content --></li>

				<li>How do I sign up?
					<div class="cd-faq-content">
						<p>Utilizing the side menu navigate to login page. The second
							tab states Sign Up, simply select the Sign Up tab and fill out
							the required information</p>
					</div> <!-- cd-faq-content --></li>

				<li>Can I remove a
						post?
					<div class="cd-faq-content">
						<p>As for now posts can only be managed by our Administrators.
							If you would like a post removed please contact them via the
							portal on the bottom of the page.</p>
					</div> <!-- cd-faq-content --></li>

				<li>How do reviews
						work?
					<div class="cd-faq-content">
						<p>The review system only grants access to registered student
							that are currently attending a class that the professor is
							teaching. A registered student can rate the professor as well as
							the tutor assigned to the class. A student is only allowed one
							review in order to keep a more accurate statistics.</p>
					</div> <!-- cd-faq-content --></li>
			</ul>

			<!-- cd-faq-group -->

			<ul id="account" class="cd-faq-group">
				<li class="cd-faq-title"><h2>Account</h2></li>
				<li>How do I change my
						password?
					<div class="cd-faq-content">
						<p>>On the Login/Sign Up page there is a link that states "
							forgot my password ". If you follow the link you will recieve an
							email that will allow you to reset your password.</p>
					</div> <!-- cd-faq-content --></li>

				<li>How do I delete my
						account?
					<div class="cd-faq-content">
						<p>Utilizing the side menu, while logged in you can select the
							deactivate account link. There you will have verify your email
							and password in order to deactivate the account.</p>
					</div> <!-- cd-faq-content --></li>

				<li>How do I change my
						account settings?
					<div class="cd-faq-content">
						<p>The user would be able to manage their own profile settings
							via the user dashboard or by contacting the site admin.</p>
					</div> <!-- cd-faq-content --></li>

				<li>I forgot my
						password. How do I reset it?
					<div class="cd-faq-content">
						<p>There are two options, option number one is to follow the
							change password link on the login page, option number two is to
							request a password recovery.</p>
					</div> <!-- cd-faq-content --></li>
			</ul>
			<!-- cd-faq-group -->



			<ul id="privacy" class="cd-faq-group">
				<li class="cd-faq-title"><h2>Privacy</h2></li>
				<li>Are the accounts
						secure?
					<div class="cd-faq-content">
						<p>The site account are secured via password and URL
							encryptions. This allows for us to limit the users as well as
							avoid spam and other security threats.</p>
					</div> <!-- cd-faq-content --></li>

				<li>Can the professor
						tell who left the review?
					<div class="cd-faq-content">
						<p>The reviews are all anonymous to the professor. Unless the
							student makes any self identifying remarks the professor would
							not know which one of his students had left the review and or
							commentary.</p>
					</div> <!-- cd-faq-content --></li>

				<li>How can I access my
						account data?
					<div class="cd-faq-content">
						<p>Account data will be available through the user dashboard.
							Either Student, Professor or tutor dashboars will grant access to
							personal information.</p>
					</div> <!-- cd-faq-content --></li>

			</ul>
			<!-- cd-faq-group -->

			<!-- cd-faq-items -->
	</section>



	

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"> <span
						class="label">Facebook</span>
				</a></li>
				<li><a href="#" class="icon fa-twitter"> <span
						class="label">Twitter</span>
				</a></li>
				<li><a href="#" class="icon fa-instagram"> <span
						class="label">Instagram</span>
				</a></li>
				<li><a href="#" class="icon fa-linkedin"> <span
						class="label">LinkedIn</span>
				</a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled.</li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a>.
				</li>
				<li>Design: <a href="http://templated.co">TEMPLATED</a>.
				</li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>
</html>