<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
<title>FAQ</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

<!-- FAQ Style below -->

<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700'
	rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="faq-template/css/reset.css">
<!-- CSS reset -->
<link rel="stylesheet" href="faq-template/css/style.css">
<!-- Resource style -->
<script src="js/modernizr.js"></script>
<!-- Modernizr -->
</head>

<style>
#banner {
	padding: 15em 0 10em 0;
	background-color: #1E2832;
	color: rgba(255, 255, 255, 0.75);
	background-attachment: fixed;
	background-image: url(images/education.jpg),
		url(../../images/lib.jpg);
	background-size: cover;
	text-align: center;
	color: #07090c;
}


input, textarea {
	color: #f2f2f2;
}



.wrapper.style2 input[type="text"], .wrapper.style2 input[type="password"],
	.wrapper.style2 input[type="email"], .wrapper.style2 select, .wrapper.style2 textarea
	{
	background-color: #f2f2f2;
	border-color: transparent;
	color: black;
}
header {
    position: relative;
    height: 180px;
    line-height: 180px;
    text-align: center;
    background-color: #1e2832;
}
#header > h1 a {
    font-size: large;
    font-weight: bold;
}

section { 
<!--    float:left;  -->
}


@media only screen and (min-width: 768px)
style.css:243
.cd-faq-items {
    position: static;
    height: auto;
    width: 78%;
    float: left;
    overflow: visible;
    -webkit-transform: translateZ(0) translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    padding: 0;
    background: transparent;
}
.cd-faq-group .cd-faq-title h2 {
    text-transform: uppercase;
    font-size: 12px;
    font-size: 1.50rem;
    font-weight: 700;
    color: #bbbbc7;
}

#nav > ul.links > li > a:not(.button) {
    border: 0;
    border-top: solid 1px transparent;
    color: inherit;
    display: block;
    line-height: 3.5em;
    text-decoration: none;
    font-size: small;
}
</style>
<body>

	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="/">RateAndReview</a>
		</h1>
		<a href="#nav">Menu</a>
		
	</header>

			
		<!-- Nav -->
			<nav id="nav"  class="visible">
				<ul class="links">
					<li><a href="/rateandreview">Home</a></li>
					
					{{#if user_admin}}
						<li><a href="/rateandreview/admindashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_professor}}
						<li><a href="/rateandreview/facultydashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_tutor}}
						<li><a href="/rateandreview/tutordashboard">My Dashboard</a></li>
					{{/if}}
					{{#if user_student}}
						<li><a href="/rateandreview/studentdashboard">My Dashboard</a></li>
					{{/if}}
					
					{{#if user_null}}
						<li><a href="/rateandreview/signin">Log In</a></li>
						<li><a href="/rateandreview/register">Register</a></li>
						<li><a href="/rateandreview/activation">Activate Account</a></li>
						<li><a href="/rateandreview/accountrecovery">Forgot Password?</a></li>
					{{/if}}
					
						<li><a href="/rateandreview/teacher">Browse Professors</a></li>
					
					{{#unless user_admin}}
						<li><a href="/rateandreview/contactus">Contact Us</a></li>
					{{/unless}}
						<li><a href="/rateandreview/aboutus">About Us</a></li>
						<li><a href="/rateandreview/faq">FAQ</a></li>
					
					{{#unless user_null}}
						<li><a href="/rateandreview/logout">Log Out</a></li>
					{{/unless}}
				</ul>
			</nav>

	<!-- Banner -->
	<section id="banner">

		<h2>
			<i class="fa fa-graduation-cap" aria-hidden="true"></i>
		</h2>

		<!-- <i class="icon fa-diamond"></i> -->
		<h2>F.A.Q</h2>
		<!--
		<p>Here to answer the questions you might have</p>
		
		<ul class="actions">
			<li><a href="#" class="button big special">Learn More Below</a></li>
		</ul>
		-->
	</section>
	
	<section id="cd-faq" class="cd-faq" >
	
		<ul class="cd-faq-categories">
		
		<!--
			<li><a class="selected" href="#basics">Basics</a></li>
			<li><a href="#account">Account</a></li>
			<li><a href="#privacy">Privacy</a></li>
			
	-->
	
		</ul>
		<!-- cd-faq-categories -->

		<div class="cd-faq-items" >
			<ul id="basics" class="cd-faq-group">
				<li class="cd-faq-title"><h2>Basics</h2></li>

					<!-- cd-faq-content --></li>

				<li><a class="cd-faq-trigger" href="#0">How do I sign up?</a>
					<div class="cd-faq-content">
						<p>Using the menu bar to the left, you can select 'Register'
						and fill out the form. After successfully completing the form,
						you will be sent an email instructing you how to confirm your account.</p>
					</div> <!-- cd-faq-content --></li>

				<li><a class="cd-faq-trigger" href="#0">Can I remove a
						comment?</a>
					<div class="cd-faq-content">
						<p>Comments are managed by our Administrators. If the course is currently
						running, you can edit or remove your comment by accessing it through your dashboard.</p>
					</div> <!-- cd-faq-content --></li>

				<li><a class="cd-faq-trigger" href="#0">How do reviews
						work?</a>
					<div class="cd-faq-content">
						<p>The review system only grants access to registered student
							that are currently attending that specific course. As a registered
							student, you can fill out review. Each student is allowed to rate each
							course once, but while the semester is running, students can edit their reviews.</p>
					</div> <!-- cd-faq-content --></li>
			</ul>

			<!-- cd-faq-group -->

			<ul id="account" class="cd-faq-group">
				<li class="cd-faq-title"><h2>Account</h2></li>
				<li><a class="cd-faq-trigger" href="#0">How do I change my
						password?</a>
					<div class="cd-faq-content">
						<p>Using the side menu bar, follow the 'change password' link.
						If you have forgotten your password and would like to recover your
						account, follow the 'forgot password?' link.</p>
					</div> <!-- cd-faq-content --></li>

				<li><a class="cd-faq-trigger" href="#0">How do I deactivate my
						account?</a>
					<div class="cd-faq-content">
						<p>You can deactivate your account by following the link on the 
						side menu of your dashboard. If you later choose to reactivate your
						account, you can do so by choosing 'active account' on the home screen</p>
					</div> <!-- cd-faq-content --></li>
<!--
				<li><a class="cd-faq-trigger" href="#0">I forgot my
						password. How do I reset it?</a>
					<div class="cd-faq-content">
						<p>There are two options, option number one is to follow the
							change password link on the login page, option number two is to
							request a password recovery.</p>
					</div> -->
					<!-- cd-faq-content --></li>
			</ul>
			<!-- cd-faq-group -->



			<ul id="privacy" class="cd-faq-group">
				<li class="cd-faq-title"><h2>Privacy</h2></li>
				<li><a class="cd-faq-trigger" href="#0">Are the accounts
						secure?</a>
					<div class="cd-faq-content">
						<p>Yes. Passwords are encrypted using industry standard encryption tools.
						Unauthorized access is prevented on all pages with sensative information.</p>
					</div> <!-- cd-faq-content --></li>

				<li><a class="cd-faq-trigger" href="#0">Can the professor
						tell who left the review?</a>
					<div class="cd-faq-content">
						<p>All reviews are anonymous. Administrators have the ability to view
						which ID left offensive comments. However, they do not see the names of those users.</p>
					</div> <!-- cd-faq-content --></li>

				<li><a class="cd-faq-trigger" href="#0">How can I access my
						account information?</a>
					<div class="cd-faq-content">
						<p>Account information will be available through the dashboard.</p>
					</div> <!-- cd-faq-content --></li>

			</ul>
			<!-- cd-faq-group -->

			<!-- cd-faq-items -->
			<a href="#0" class="cd-close-panel">Close</a>
	</section>
	


	<!-- cd-faq -->
	<script src="/faq-template/js/jquery-2.1.1.js"></script>
	<script src="/faq-template/js/jquery.mobile.custom.min.js"></script>
	<script src="/faq-template/js/main.js"></script>
	<!-- Resource jQuery -->




	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="https://www.facebook.com/Rateandreview-1894488470796383/?ref=aymt_homepage_panel
				" class="icon fa-facebook"> <span
						class="label">Facebook</span>
				</a></li>
				<li><a href="https://twitter.com/RateAndReview17" class="icon fa-twitter"> <span
						class="label">Twitter</span>
				</a></li>
				<li><a href="https://www.instagram.com/rateandreview17/" class="icon fa-instagram"> <span
						class="label">Instagram</span>
				</a></li>
				<li><a href="https://www.linkedin.com/in/rateandreview-capstone-b78751139" class="icon fa-linkedin"> <span
						class="label">LinkedIn</span>
				</a></li>
			</ul>
			
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>
</html>