
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ms. Paredes' Classroom</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="index.html" class="logo">Ms. Paredes' Classroom</a>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/welcome">Welcome</a></li>
					<li><a href="/homework">Homework</a></li>
					<li><a href="/schedule">Class Schedule/School Calendar</a></li>
					<li><a href="/rules">Classroom Rules & Consequences</a></li>
					<li><a href="/aboutme">About Me</a></li>
					<li><a href="/other">Other important contact information and resources</a></li>
					<li><a href="/data">Data Records</a></li>
					<li><a href="/behavior">Behavior Plans</a></li>
					<li><a href="/ourclassroom">Our Classroom</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>Welcome To My Classroom</h1>
					<p>I am very excited to start your journey through first grade <br/> Please visit this website frequently as it contains very important information. <br/> Don't forget to use the side bar to access all the tabs. </p>
					<ul class="actions">
						<li><a href="#one" class="button scrolly">What Will Be Here</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3>Homework</h3>
							<p>You will be able to find daily assignments on this website, as well as big upcoming projects with the supplies on the dates we will be working on them.</p>
						</div>
						<div>
							<h3>Classroom Rules</h3>
							<p>The classroom rules will be posted at the begining of the year, but may be updated throughout</p>
						</div>
					</div>
					<div class="flex-item image fit round">
						<img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/23905718_1864931230487345_6358171750088140465_n.jpg?oh=bc7d1ba73f048b00e4ee8ad43f4d085d&oe=5AD1CC78" alt="" />
					</div>
					<div class="flex-item right">
						<div>
							<h3>School Calendar</h3>
							<p>Stay up to date with any holidays and/or half days for the students.</p>
						</div>
						<div>
							<h3>Contact me</h3>
							<p>At the bottom of this page you can find my contact information. Feel free to contact me!.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>Quote of the Week</h2>
					<figure>
					    <blockquote>
					        "A good teacher is like a candle - <br />it consumes itself to light the way for others."
					    </blockquote>
					    <footer>
					        <cite class="author">Mustafa Kemal Attaturk</cite>
					        <br/>
					        <cite class="company">Please contact me if you have any suggestions for the quote of the week! Contact information below</cite>
					    </footer>
					</figure>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">paredes_erika@washington.edu</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Washington Elementary Rd, Aurora, IL 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy;Design By <a href="https://templated.co">TEMPLATED</a>. Altered By Erika Paredes.
					<br/>
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
				</div>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>