<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Rate & Review</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/">G.O.O.D.</a></h1>
				<a href="#nav">Menu</a>
			</header>
			
		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/login">Log In</a></li>
					<li><a href="/register">Register</a></li>
					<li><a href="/departments">Departments</a></li>
					<li><a href="/tutors">Tutors</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/aboutus">About Us</a></li>
					
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<i class="icon fa-book"></i>
				<h2>Rate & Review</h2>
				<p>The ratings you want, the tutoring you need</p>
				<ul class="actions">
					<li><a href="/login" class="button big special">Log in</a></li>
				</ul>
				<div name="register">
						<h6 style='color: white'><a href = "/register"> Don't have an account? Register here!</a></h6>
					</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="images/staffHome.jpg" alt="" /></span>
						<div class="content">
							<h2>Rate: Dependable ratings on professors and tutors</h2>
							<p>All of of our faculty ratings are verified to ensure the most honest and accurate reflections of the professors or tutors teaching style. Spam comments are removed and the enrollment of "raters" in classes are reviewed. Set up an account to leave your own review! </p>
							<ul class="actions">
								<li>
									<a href="/aboutus" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="images/tutorHome.jpg" alt="" /></span>
						<div class="content">
							<h2>Review: Set up and appointment with the right tutor </h2>
							<p>Although you can leave a rating for a tutor you've had, you may also use the ratings and comments to choose which tutor works best for you! Look up the tutors hours or request to set up an appointment.</p>
							<ul class="actions">
								<li>
									<a href="/aboutus" class="button alt">More</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Enhance your college experience.</h2>
						<p>Seeking help and picking the right classes can be intimidating but we try to eliminate that fear for you. 
						We help you get the assitance you need and provide the proper feedback on faculty.</p>
					</header>
					<div class="image-grid">
						<a class="image"><img src="images/droneView.jpg" alt="" /></a>
						<a class="image"><img src="images/statueHome.jpg" alt="" /></a>
						<a class="image"><img src="images/poolHome.jpg" alt="" /></a>
						<a class="image"><img src="images/goodwinHome.jpg" alt="" /></a>
						<a class="image"><img src="images/kindlonHome.jpg" alt="" /></a>
						<a class="image"><img src="images/eaglewalkHome.jpg" alt="" /></a>
						<a class="image"><img src="images/basketballHome.jpg" alt="" /></a>
						<a class="image"><img src="images/BHome.jpg" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="/aboutus" class="button big alt">About Us</a></li>
					</ul>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>Create your account now</h2>
						<p>Set up account to starting leaving reviews or get in touch with a tutor to set up a review session!</p>
					</header>
					<ul class="actions">
						<li><a href="/register" class="button big alt">Create Account</a></li>
					</ul>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>Get in touch</h2>
						<p>If you have any questions, drop us a message below!</p>
					</header>
					<form action="" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="Submit" /></li>
							<li><input type="reset" class="alt" value="Reset" /></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>