<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Rate & Review</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">


		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>ERROR 401</h2>
						<p>You must be logged in to view this page .</p>
					</header>
					<div class="image-grid">
						<a class="image"><img src="images/hailBU.jpg" alt="" /></a>
						<a class="image"><img src="images/courtHome.jpg" alt="" /></a>
						<a class="image"><img src="images/entrance.jpg" alt="" /></a>
						<a class="image"><img src="images/labHome.jpg" alt="" /></a>
						<a class="image"><img src="images/kindlonHome.jpg" alt="" /></a>
						<a class="image"><img src="images/eaglewalkHome.jpg" alt="" /></a>
						<a class="image"><img src="images/basketballHome.jpg" alt="" /></a>
						<a class="image"><img src="images/BHome.jpg" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="/login" class="button big alt">Go to Log In</a></li>
					</ul>
				</div>
			</section>


		

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>