
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ms. Paredes' Classroom</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/" class="logo">Ms. Paredes' Classroom</a>
			</header>

				<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/welcome">Welcome</a></li>
					<li><a href="/aboutme">About Me</a></li>
					<li><a href="/ourclassroom">Our Classroom</a></li>
					<li><a href="/rules">Classroom Rules</a></li>
					<li><a href="/behavior">Consequences & Behavior Plans</a></li>
					<li><a href="/data">Data Records</a></li>
					<li><a href="/schedule">Class Schedule</a></li>
					<li><a href="/calendar">School Calendar</a></li>
					<li><a href="/other">Other important contact information & resources</a></li>
					
				</ul>
			</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Important Contact Information and Resources</h1>
								<p>Teacher-parent communication is very important and crucial for a function and healthy environment in the classroom. In case of any emergency or concern I have attached my contact information below. 
								<br/> I may not always be available and may not always be able to solve all concerns. Therefore, I have also included the contact information of our other administration that also may be able to help you. <strong> The bottom of this page contains very useful links as well! </strong></p>
					</header>
					<p><span class="image left"><img src="images/pic01.jpg" alt="" />
						
					</span><div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Position</th>
													<th>Name</th>
													<th>Phone Number</th>
													<th>Email</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Teacher</td>
													<td>Ms. Paredes</td>
													<td>630–236- 5124</td>
													<td>paredes_erika@washington.edu</td>
												</tr>
												<tr>
													<td>Principal</td>
													<td>Emilia Reyes </td>
													<td>630-236-5125</td>
													<td>reyes_emilia@washington.edu </td>
												</tr>
												<tr>
													<td>Vice Principal </td>
													<td>Daniel Tse  </td>
													<td>6630-236-5126</td>
													<td>tse_daniel@washington.edu  </td>
												</tr>
												<tr>
													<td>Vice Principal </td>
													<td>Daniel Tse  </td>
													<td>6630-236-5126</td>
													<td>tse_daniel@washington.edu  </td>
												</tr>
												<tr>
													<td>School Psychologist </td>
													<td>Joel Sandoval</td>
													<td>630-236-5127</td>
													<td>sandoval_joel@washington.edu </td>
												</tr>
												<tr>
													<td>Reading Specialist </td>
													<td>Angelina Si</td>
													<td>630-236-5129</td>
													<td>si_angelina@washington.edu</td>
												</tr>
												<tr>
													<td>School Nurse </td>
													<td>Marisa Goochey </td>
													<td>630-236-5128</td>
													<td>goochey_marisa@washington.edu  </td>
												</tr>
												<tr>
													<td>School Librarian </td>
													<td>Melina Rodriguez </td>
													<td>630-236-5130</td>
													<td>srodriguez_melina@washington.edu</td>
												</tr>
											</tbody>
											<tfoot>
											</tfoot>
										</table>
									</div>
</p>

<p><span class="image right"><img src="images/pic01.jpg" alt="" /></span>

	<h6>Important Resources: <br/>
I have attached below some websites that are good resources for students to work on if they are having trouble at home. 
I also have some resources for parents/guardians to read about if they are interested in what we are learning this year.
</h6>
											<ul class="alt">
												<li><a href="http://www.dreambox.com/parent-tips-first-grade"> Dreambox </a> </li>
												<li><a href="https://www.education.com/games/first-grade/">Math Games </a></li>
												<li><a href="http://www.knowledgeadventure.com/grade/1st-grade-games/"> All Subject Games <a/></li>
												
												
												<li><a href="http://www.pbs.org/parents/education/math/games/first-second-grade/pbs-kids-games/"> Math & Science Activities<a/></li>
												<li><a href="https://www.mathplayground.com/grade_1_games.html"> Practice Math Problems <a/></li>
												<li><a href="http://www.learninggamesforkids.com/1st-grade-math.html"> First Grade Practice Activities </a></li>
												
												<li><a href="http://www.spellingtraining.com"> Spelling Practice </a></li>
												<li><a href="http://www.scholastic.com/parents/resources/collection/what-to-expect-grade/guide-to-1st-grade"> Language Arts Practice </a></li>
											</ul>





<strong> Additional Teacher Support: </strong> <br/>
At Washington, Elementary School we have three 1st grade classrooms. Therefore, us three teachers work together. We share our different ideas with each other to create the most unique lessons and activities for our students. We also stay connected with the 2nd grade teachers to make sure that we are preparing our students properly for the upcoming year. We have meetings every Wednesday to discuss anything going on in the school that may be important or to discuss anything positive. At Washington, Elementary we try to all stay connected with each other and be a support team. 





</p>


					
					
					
					
				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(630) 236-5124</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">paredes_erika@washington.edu</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Washington Elementary Rd, Aurora, IL 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy;Design By <a href="https://templated.co">TEMPLATED</a>. Altered By Erika Paredes.
					<br/>
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
				</div>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>