
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ms. Paredes' Classroom</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/" class="logo">Ms. Paredes' Classroom</a>
			</header>

			<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/welcome">Welcome</a></li>
					<li><a href="/aboutme">About Me</a></li>
					<li><a href="/ourclassroom">Our Classroom</a></li>
					<li><a href="/rules">Classroom Rules</a></li>
					<li><a href="/behavior">Consequences & Behavior Plans</a></li>
					<li><a href="/data">Data Records</a></li>
					<li><a href="/schedule">Class Schedule/</a></li>
					<li><a href="/calendar">School Calendar</a></li>
					<li><a href="/other">Other important contact information & resources</a></li>
					
				</ul>
			</nav>
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Our Classroom</h1>
								<p>Information for our home away from home</p>
					</header>
									<p><span class="image left"><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/23905728_1864966000483868_3083191628322326102_n.jpg?oh=7a4140b3111d47e34590d5bdb0aef75b&oe=5AA1AF92" alt="" />
										
									</span>Our classroom is located on the first floor of Washington Elementary School, in Aurora Illinois.
									 Aurora is made up of 55.78% Caucasian, 42.7% Latino, 
									10.03% African American, and 7.21% Asian. The average income for a household is $60,809. <br/>
										In our classroom this year we will have 25 students. I will be splitting students up into equal groups of five. Each group will have a group name which will be a color – purple, blue, red, green, yellow, and orange. The significance of the groups is for students to collaborate with others and to form groups faster. Students will sit within their groups and in clusters. I will be switching up groups at the beginning of every month. 
										In addition, we will have a classroom library in the corner of the room with a rocking chair.In this area, we will do all of our reading and this is where we will have our read alouds. Next to the reading 
									center we will have a science area where we will be doing all of our science experiments.
										
									</p>
									 
									 
									<p><span class="image right"><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/23905279_1864965993817202_7301287688998102269_n.png?oh=66fdd5a35392a1439ab40666e76ef44e&oe=5A98E639" alt="" />
										
									</span> In the front of the classroom
									 we have our whiteboard, calendar, and our carpet. This is where we will have carpet and calendar time. Next to this I have my desk.
									  This is way I can keep an eye on the students and also be easily accessible to them. In the back of the 
									room we have a couple of computers for students to practice typing on and to expose students to technology. <br/>
									 In our classroom, we have weekly jobs. Students will be given a job every week to do and this helps our classroom run smoothly and also helps students learn responsibility. I have found in the past that students really enjoy this and look forward to receiving new jobs and helping the class. 

</p>

				</div>
			</section>

				<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(630) 236-5124</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">paredes_erika@washington.edu</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Washington Elementary Rd, Aurora, IL 60503</li>
					</ul>
				</div>
				<div class="copyright">
					&copy;Design By <a href="https://templated.co">TEMPLATED</a>. Altered By Erika Paredes.
					<br/>
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
				</div>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>