<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Professor</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="/">G.O.O.D.</a></h1>
				<a href="#nav">Menu</a>
			</header>

			<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/departments">Departments</a></li>
					<li><a href="/tutors">Tutors</a></li>
					<li><a href="/login">Register</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/aboutus">About Us</a></li>
					<li><a href="/teacher">Teacher</a></li>
					
				</ul>
			</nav>
			
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2>Professor Name</h2>
					</header>

					<!-- Text -->
						<section>
							<h3>Overall Rating 5</h3>
							<p>Teaches in the *Blank* department</p>

							<hr />
							</section>
					<a href="\reviewprofessor"><input type="button" value="Rate This Professor"></a>
					
			<div id="class_list">
			<!-- Table -->
						<section>
						<br>
							<h3>Classes Taught</h3>
							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Date of Review</th>
											<th>Review Rating</th>
											<th>Class section</th>
											<th>Comment</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>2/13/2017</td>
											<td>5</td>
											<td>CMSC 310</td>
											<td>Comment</td>
										</tr>
										<tr>
											<td>XX/XX/XXXX</td>
											<td>Rating</td>
											<td>Class #</td>
											<td>Comment</td>
										</tr>
										<tr>
											<td>XX/XX/XXXX</td>
											<td>Rating</td>
											<td>Class #</td>
											<td>Comment</td>
										</tr>
										<tr>
											<td>XX/XX/XXXX</td>
											<td>Rating</td>
											<td>Class #</td>
											<td>Comment</td>
										</tr>
										<tr>
											<td>XX/XX/XXXX</td>
											<td>Rating</td>
											<td>Class #</td>
											<td>Comment</td>
										</tr>
									</tbody>
								</table>
							</div>
							
				
			
			
			</div>
			
			</section>
  			

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>