
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ms. Paredes' Classroom</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/" class="logo">Ms. Paredes' Classroom</a>
			</header>

				<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/welcome">Welcome</a></li>
					<li><a href="/aboutme">About Me</a></li>
					<li><a href="/ourclassroom">Our Classroom</a></li>
					<li><a href="/rules">Classroom Rules</a></li>
					<li><a href="/behavior">Consequences & Behavior Plans</a></li>
					<li><a href="/data">Data Records</a></li>
					<li><a href="/schedule">Class Schedule</a></li>
					<li><a href="/calendar">School Calendar</a></li>
					<li><a href="/other">Other important contact information & resources</a></li>
					
				</ul>
			</nav>
			
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Rules</h1>
								<p>A few very <i> basic </i> but <b> important </b> rules for our classroom</p>
					</header>
					
					<p><span class="image right"><img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/23905181_1864968973816904_1540124667961079057_n.jpg?oh=be1af00d6c0b40f7eeb560a85d09b27c&oe=5A93AA4D" alt="" />
						
					</span><ol>
												<li>Respect – others, yourself, the teacher and your surroundings. </li>
												<li>We play nicely with each other and show respect </li>
												<li>We share and take turns</li>
												<li>We listen carefully to each other .</li>
												<li>We care for one another</li>
												<li>We raise our hands </li>
											</ol>
											<br/>
											<br/>
											Now that you know the rules, be sure the check the <a href="/behavior">Consequences & Behavior Plans</a> page!
</p>


				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(630) 236-5124</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">paredes_erika@washington.edu</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Washington Elementary Rd, Aurora, IL 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy;Design By <a href="https://templated.co">TEMPLATED</a>. Altered By Erika Paredes.
					<br/>
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
				</div>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>