
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ms. Paredes' Classroom</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/" class="logo">Ms. Paredes' Classroom</a>
			</header>

				<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/welcome">Welcome</a></li>
					<li><a href="/aboutme">About Me</a></li>
					<li><a href="/ourclassroom">Our Classroom</a></li>
					<li><a href="/rules">Classroom Rules</a></li>
					<li><a href="/behavior">Consequences & Behavior Plans</a></li>
					<li><a href="/data">Data Records</a></li>
					<li><a href="/schedule">Class Schedule</a></li>
					<li><a href="/calendar">School Calendar</a></li>
					<li><a href="/other">Other important contact information & resources</a></li>
					
				</ul>
			</nav>
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Class Schedule</h1>
							<p>Below you can see the daily schedule for the week</p>
					</header>
					
					
									<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Time Frame  </th>
													<th>Monday</th>
													<th>Tuesday</th>
													<th>Wednesday</th>
													<th>Thursday</th>
													<th>Friday</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>9:00 - 9:15</td>
													<td>Fun Morning Routine. Circle Time Activity</td>
													<td>Fun Morning Routine. Circle Time Activity</td>
													<td>Fun Morning Routine. Circle Time Activity</td>
													<td>Fun Morning Routine. Circle Time Activity</td>
													<td>Fun Happy Friday Routine. Circle Time Activity</td>
												</tr>
												<tr>
													<td>9:15 - 10:15</td>
													<td>Writing</td>
													<td>Writing</td>
													<td>Writing</td>
													<td>Writing</td>
													<td>Writing</td>
												</tr>
												<tr>
													<td>10:15 - 10:25</td>
													<td> Snack </td>
													<td> Snack </td>
													<td> Snack </td>
													<td> Snack </td>
													<td> Snack </td>
												</tr>
												<tr>
													<td>10:25 - 11:25 </td>
													<td>Physical Education</td>
													<td>Art</td>
													<td>Physical Education</td>
													<td>Music</td>
													<td>Computer Lab</td>
												</tr>
												<tr>
													<td>11:25 - 12:25</td>
													<td>Math</td>
													<td>Math</td>
													<td>Math</td>
													<td>Math</td>
													<td>Math</td>
												</tr>
												<tr>
													<td>12:25 - 12:55</td>
													<td>Lunch/Recess</td>
													<td>Lunch/Recess</td>
													<td>Lunch/Recess</td>
													<td>Lunch/Recess</td>
													<td>Lunch/Recess</td>
												</tr>
												<tr>
													<td>12:55 - 1:55</td>
													<td>Reading</td>
													<td>Reading</td>
													<td>Reading</td>
													<td>Reading</td>
													<td>Reading</td>
												</tr>
													<tr>
													<td>1:55 - 2:30</td>
													<td>Silent Reading</td>
													<td>Read Aloud</td>
													<td>Silent Reading</td>
													<td>Read Aloud</td>
													<td>Silent Reading</td>
												</tr>
												</tr>
													<tr>
													<td>2:30</td>
													<td>Dismissal</td>
													<td>Dismissal</td>
													<td>Dismissal</td>
													<td>Dismissal</td>
													<td>Dismissal</td>
												</tr>
											</tbody>
											<tfoot>
											</tfoot>
										</table>
									</div>

					
					
				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(630) 236-5124</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">paredes_erika@washington.edu</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Washington Elementary Rd, Aurora, IL 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy;Design By <a href="https://templated.co">TEMPLATED</a>. Altered By Erika Paredes.
					<br/>
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
				</div>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>