<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
<title>teacher</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<style>
input[type=text2] {
	width: 130px;
	float: right;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: #1e2832;
	background-image: url('searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 5px 20px 5px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input, textarea {
	color: #f2f2f2;
}

input[type=text2]:focus {
	width: 30%;
}
</style>
<body>
	<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1>
			<a href="/">G.O.O.D</a>
		</h1>
		<a href="#nav">Menu</a>
		<form>
			<input type="text2" name="search" placeholder="Search..">
		</form>
	</header>

	<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/departments">Departments</a></li>
					<li><a href="/tutors">Tutors</a></li>
					<li><a href="/login">Register</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/aboutus">About Us</a></li>
					<li><a href="/teacher">Teacher</a></li>
					
				</ul>
			</nav>


	<!-- One -->
	<section id="one" class="wrapper style1">
		<div class="inner">
			<article class="feature left">
				<span class="image"><img src="images/pollack.jpg" alt="" /></span>
				<div class="content">
					<h2>Lawrence Pollack</h2>
					<div class="rw-ui-container"></div>
					<p>Sed egestas, ante et vulputate volutpat, eros pede semper
						est, vitae luctus metus libero eu augue. Morbi purus libero,
						faucibus adipiscing, commodo quis, gravida id, est.</p>

					<ul class="actions">
						<li><a href="#" class="button alt">More</a></li>
					</ul>
				</div>
			</article>
			<article class="feature right">
				<span class="image"><img src="images/mirsky.jpg" alt="" /></span>
				<div class="content">
					<h2>Grace Mirsky</h2>
					<div class="rw-ui-container"></div>
					<p>Sed egestas, ante et vulputate volutpat, eros pede semper
						est, vitae luctus metus libero eu augue. Morbi purus libero,
						faucibus adipiscing, commodo quis, gravida id, est.</p>
					<ul class="actions">
						<li><a href="#" class="button alt">More</a></li>
					</ul>
				</div>
			</article>
		</div>
	</section>

	

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"> <span
						class="label">Facebook</span>
				</a></li>
				<li><a href="#" class="icon fa-twitter"> <span
						class="label">Twitter</span>
				</a></li>
				<li><a href="#" class="icon fa-instagram"> <span
						class="label">Instagram</span>
				</a></li>
				<li><a href="#" class="icon fa-linkedin"> <span
						class="label">LinkedIn</span>
				</a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled.</li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a>.
				</li>
				<li>Design: <a href="http://templated.co">TEMPLATED</a>.
				</li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>



	<!-- The 5 Star rating			 -->
	<script type="text/javascript">
		(function(d, t, e, m) {

			// Async Rating-Widget initialization.
			window.RW_Async_Init = function() {

				RW.init({
					huid : "347204",
					uid : "1010a535db91e434c5d5a3221ff8c0e3",
					options : {
						"style" : "oxygen"
					}
				});
				RW.render();
			};
			// Append Rating-Widget JavaScript library.
			var rw, s = d.getElementsByTagName(e)[0], id = "rw-js", l = d.location, ck = "Y"
					+ t.getFullYear() + "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol, f = ((l.search
					.indexOf("DBG=") > -1) ? "" : ".min"), a = ("https:" == p ? "secure."
					+ m + "js/"
					: "js." + m);
			if (d.getElementById(id))
				return;
			rw = d.createElement(e);
			rw.id = id;
			rw.async = true;
			rw.type = "text/javascript";
			rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
			s.parentNode.insertBefore(rw, s);
		}(document, new Date(), "script", "rating-widget.com/"));
	</script>
</body>
</html>