<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="/">G.O.O.D.</a></h1>
				<a href="#nav">Menu</a>
			</header>

			<!-- Nav -->
			<nav id="nav" class="visible">
				<ul class="links">
				<li><a href="/">Home</a></li>
					<li><a href="/login">Log In</a></li>
					<li><a href="/register">Register</a></li>
					<li><a href="/contactus">Contact Us</a></li>
					<li><a href="/aboutus">About Us</a></li>
					<li><a href="/accountrecovery">Forgot Password?</a></li>
					
				</ul>
			</nav>
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2 id="lastname"></h2>
					</header>

					<!-- Text -->
						<section>
							<h3></h3>
							<p>Tutors in the the following classes</p>
							<ul>
								<li>
									<p id="class"></p>
								</li>
								<li>
									<p id="class2"></p>
								</li>
								<li>
									<p id="class3"></p>
								</li>
							</ul>

							<hr />
							</section>
					
			<div id="class_list">
			<!-- Table -->
						<section>
						<br>
							<h3>Open time slots</h3>
							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Sunday</th>
											<th>Monay</th>
											<th>Tuesday</th>
											<th>Wednesday</th>
											<th>Thursday</th>
											<th>Friday</th>
											<th>Saturday</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><a href="#">Start (a.m./p.m.) - Finish (a.m./p.m.)</a></td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
										</tr>
										<tr>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
										</tr>
										<tr>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
										</tr>
										<tr>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
										</tr>
										<tr>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
											<td>Start (a.m./p.m.) - Finish (a.m./p.m.)</td>
										</tr>
									</tbody>
								</table>
							</div>
							
				
			
			
			</div>
			
			</section>
  			

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script>
			window.onload = function (){
				function ParseURLParameter(Parameter)
				{
					var FullURL = window.location.search.substring(1);
					var ParametersArray = FullURL.split('&');
					for (var i = 0; i < ParametersArray.length; i++)
					{
						var CurrentParameter = ParametersArray[i].split('=');
						if(CurrentParameter[0] == Parameter)
						{
							return CurrentParameter[1];
						}
					}
				}
				
				var lastname = ParseURLParameter('lastname');
				var classname = ParseURLParameter('class');
				
				
				document.getElementById("lastname").innerHTML = lastname;
				document.getElementById("class").innerHTML = classname;
				
				}
		</script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>