
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ms. Paredes' Classroom</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="index.html" class="logo">Ms. Paredes' Classroom</a>
			</header>

				<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/welcome">Welcome</a></li>
					<li><a href="/homework">Homework</a></li>
					<li><a href="/schedule">Class Schedule/School Calendar</a></li>
					<li><a href="/rules">Classroom Rules & Consequences</a></li>
					<li><a href="/aboutme">About Me</a></li>
					<li><a href="/other">Other important contact information and resources</a></li>
					<li><a href="/data">Data Records</a></li>
					<li><a href="/behavior">Behavior Plans</a></li>
					<li><a href="/ourclassroom">Our Classroom</a></li>
				</ul>
			</nav>
			
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Welcome</h1>
								<p>A Letter From Ms. Paredes</p>
					</header>
					<div class="image fit">
						<img src="" alt="" />
					</div>
					<p>
<b>Hi</b>, 
<br/> </br>
My name is <b>Ms. Paredes </b> and I would like to invite you to my 1st grade classroom.  I am very eager <br/>to get to know every one of you. I am looking forward to creating many great memories with all of you. 
<br/><br/>This year is going to be very exciting year. We have some <em>fun </em> field trips planned out for this year <br/>and I hope that everyone can make it. There is also a lot of fun and interesting topics that <br/> we will learn about. <br/> 
I would like to share with all of you the topics that we will be learning this year. 
<br/> <br/>

<dl>

<dt>Reading:  </dt> <dd> <p> We will be working on vocabulary, reading comprehension, and letter and word sounds. 
</p>
</dd>

<br/>

<dt> Writing: </dt> <dd> <p> We will be working on leaning important everyday spelling words. In addition to this we will be working   <br/> on the different features of writing such as pre-writing, drafting, revising, editing, and publishing. </P>
</dd>


<dt>Math:</dt>  <dd> <p> We will be working on addition and subtraction. We will then be moving into telling time and how to count money.
</p>
</dd>

<br/>

<dt>Social Studies: </dt>  <dd> <p> We will learn about important people in the past and how they used to live. We will also be working with maps and  <br/> identifying important components. 
</p>
</dd>
<br/>

<dt>Science: </dt>  <dd> <p> We will start off the school year with learning about plants. We will then move into matter, and then the rock cycle. 
</p>
</dd>
</dl>
<br/>
I made this website as a resource for you, this way you can learn about my classroom and I.  I believe <em>communication </em>  is  very<br/> important and crucial part  of creating a healthy environment for students.  I hope this website acts as a way of communication <br/> between you and I. I have provided my contact information as well in case of any questions or emergencies.
I plan to keep this website <br/> updated and current. I will be putting important information on here and any forms or permission slips that you may need. <br/>If you have any questions or concerns, please do not hesitate to contact me. 

<br/><br/>
<i>Thank you, </i> 

<br/><br/>
<strong>Ms. Paredes</strong>
</p>
				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Get In Touch</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(000) 000-0000</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">paredes_erika@washington.edu</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Washington Elementary Rd, Aurora, IL 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy;Design By <a href="https://templated.co">TEMPLATED</a>. Altered By Erika Paredes.
					<br/>
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
				</div>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>